body {
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'IBM Plex Mono', monospace;
    background-color: honeydew;
}
ul {
    list-style: none;
    display: flex;
}
.withmargin {
    margin-right: 2em;
}
.sectiontitle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'IBM Plex Mono', monospace;
    background-color: honeydew;

}
#portraitpic {
    width: 100%;
}
#backgroundimage1 {
    background-color: honeydew;
    width: 100%;
    height: 100vh;
}
.container1 {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0 10vh;
    display: grid;
    height: 100vh;
    gap: 3em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "me i i"
    "me i i"
    "me myself myself"

}
#maintitle {
    margin-left: 1em;
}
#mainnav {
    margin-right: 2em;
}
#me{
    grid-area: me;
    background-color: cornflowerblue;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#me1{
    background-color: aqua;
    padding: 10px;
    display: flex;
    align-self: flex-end;
    margin-right: 2em;
    border: solid;
    border-radius: 180px;
}
#me2 {
    text-align: center;
    margin: 0 50px;
    padding: 10px;
    background-color: aqua;
    grid-area: me2;
    border: solid;
    display: flex;
    border-radius: 5px;
}
#myself {
    display: flex;
    grid-area: myself;
    text-align: center;
    background-color: coral;
}
#myself1{
    background-color: darkorange;
    align-self: center;
    margin-left: 30px;
    border: solid;
    border-radius: 180px;
    padding: 10px;
}
#myself2{
    background-color: darkorange;
    padding: 5px;
    border: solid;
    display: flex;
    align-self: center;
    margin: 25px;
    border-radius: 5px;
}

#i{
    font-size: large;
    grid-area: i;
    display: flex;
    align-items: center;
    background-color: lightblue;
}
#i1{
    margin: 0 1em;
    border: solid;
    border-radius: 360px;
    padding: 5px;
    background-color: magenta;
}
#i2{
    background-color: magenta;
    border: solid;
    width: 120px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}
#portraitpic {
    box-sizing: border-box;
    border: solid;

}
.container2 {
    margin: 0 10vh;
    display: grid;
    height: 100vh;
    gap: 3em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "project1 project1 project3"
    "project2 project2 project3"
    "project2 project2 project3"
}
#backgroundimage2 {
    background-color: honeydew;
    width: 100%;
    height: 100vh;
}
#project1 {
    background-color: crimson;
    grid-area: project1;
}
#project2 {
    background-color: gold;
    grid-area: project2;
}
#project3 {
    background-color: lightgreen;
    grid-area: project3;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: honeydew;
    font-family: 'IBM Plex Mono', monospace;

}
.container3 {
    margin: 0 15vh;
    display: grid;
    height: 100vh;
    gap: 3em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "who1 who1 who2 who2"
    "who1 who1 who2 who2"
    "who3 who3 who4 who4"
    "who3 who3 who4 who4";
}
#backgroundimage3 {
    background-color: honeydew;

}
#who1 {
    background-color: rebeccapurple;
    grid-area: who1;
}
#who2 {
    background-color: pink;
    grid-area: who2;
}
#who3 {
    background-color: aquamarine;
    grid-area: who3;
}
#who4 {
    background-color: black;
    grid-area: who4;
}
